@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-y: hidden;
}

.formContainer{
    height: 32rem;
    width: 24rem;
}

.register{
    width: 19rem;
}

/* login  */
.formContainerLogin{
    height:30rem;
    width: 24rem;
}
